@page "/"
@using Database.Entities.Interfaces;
@using Database.UniversalMovieDatabase;
@inject IRepositoryContext ctx;
@inject UniversalMovieDatabaseContext MovieCtx;

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

#if DEBUG
#pragma warning disable CS1998
    protected override async Task OnInitializedAsync()
    {
        //
    }
#pragma warning restore CS1998
#endif
} 